@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esto afectará a todas las barras de desplazamiento en tu aplicación */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ededed9f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 10px;
}

@font-face {
  font-family: 'Aileron-Regular';
  src: url('../public/fonts/Aileron-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('../public/fonts/Aileron-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Aileron-Bold';
  src: url('../public/fonts/Aileron-Bold.otf') format('opentype');
}

p {
  font-family: 'Aileron-Regular';
}

h1{
  font-family: 'Aileron-Bold';
}